:root {
  --havelock-blue: #13a8ff;
  --alabaster: #fbfbfb;
  --hover-color: #0b74b1;
}

#favorites-container {
  width: 80%;
  margin: 0 auto;
}

#favorites-container ul {
  list-style: none;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#favorites-container li:first-child {
  margin-left: 0rem;
}

#favorites-container li {
  margin-left: 0.5rem;
}

.shell {
  display: inline;
  background-color: var(--havelock-blue);
  color: var(--alabaster);
  padding: 0.8rem;
  border-radius: 8px;
  text-align: center;
}

.shell:hover {
  cursor: pointer;
  background-color: var(--hover-color);
}

@media (max-width: 720px) {
  #favorites-container li {
    margin-left: 0rem;
    margin-bottom: 0.5rem;
  }

  .shell {
    display: block;
    background-color: var(--havelock-blue);
    color: var(--alabaster);
    padding: 0.8rem;
    border-radius: 8px;
    text-align: center;
  }
}
