:root {
  --havelock-blue: #13a8ff;
  --alabaster: #fbfbfb;
  --hover-color: #0b74b1;
}

#favorites-container {
  width: 80%;
  margin: 0 auto;
}

.favorites-wrapper {
  width: 100%;
  color: var(--havelock-blue);
  margin-bottom: 1.5rem;
}
.favorites-wrapper ul {
  list-style: none;
}

.shell {
  background-color: var(--havelock-blue);
  color: var(--alabaster);
  padding: 0.5rem;
  border-radius: 8px;
  text-align: center;
  width: 20%;
  margin-bottom: 0.5rem;
}

.shell:hover {
  cursor: pointer;
  background-color: var(--hover-color);
}
