:root {
  --havelock-blue: #13a8ff;
  --alabaster: #fbfbfb;
  --hover-color: #0b74b1;
}

#wrapper {
  width: 80%;
  margin: 0 auto;
}

#details {
  display: grid;
  grid-template-columns: auto 1fr;
  width: 60%;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 2rem 2rem 2rem 2rem;
  color: var(--havelock-blue);
}

#details h2 {
  font-size: 24px;
  font-weight: 500;
}

#details ul {
  margin-top: 2rem;
  list-style: none;
}

#details .temp {
  font-size: 36px;
  margin: 1.5rem 0 0 0;
}

.section-two {
  text-align: center;
}

@media (max-width: 992px) {
  #details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 2rem;
    color: var(--havelock-blue);
  }
}

@media (max-width: 720px) {
  #details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 2rem;
    color: var(--havelock-blue);
  }
}
