:root {
  --havelock-blue: #13a8ff;
  --alabaster: #fbfbfb;
  --hover-color: #0b74b1;
}

#card-container {
  width: 80%;
  margin: 0 auto;
}

#card-wrapper {
  margin-top: 2rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 2rem;
  width: 25%;
}
