:root {
  --havelock-blue: #13a8ff;
  --alabaster: #fbfbfb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 17px;
  line-height: 1.6rem;
}

#app {
  margin: 0 auto;
  width: 50%;
  overflow: hidden;
}
