:root {
  --havelock-blue: #13a8ff;
  --alabaster: #fbfbfb;
  --crimson: #dd2742;
  --candlelight: #fdd21b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 17px;
  line-height: 1.6rem;
}

#app {
  margin: 0 auto;
  width: 70%;
  overflow: hidden;
}

#header {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#header h1 {
  padding: 2rem;
  text-align: center;
  color: var(--havelock-blue);
}

#container {
  margin-top: 3rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding-bottom: 3rem;
  margin-bottom: 3rem;
}

#loading {
  margin-top: 3rem;
  color: var(--havelock-blue);
  font-size: 24px;
  text-align: center;
}

#error {
  width: 80%;
  margin: 0 auto;
  margin-top: 2rem;
  color: var(--crimson);
  font-size: 22px;
  text-align: center;
}

#error p {
  text-align: center;
  margin-bottom: 2rem;
}

#error #error-image {
  font-size: 75px;
  filter: invert(14%) sepia(58%) saturate(6005%) hue-rotate(343deg)
    brightness(108%) contrast(80%);
}

@media (max-width: 992px) {
  #app {
    margin: 0 auto;
    width: 80%;
    overflow: hidden;
  }
}

@media (max-width: 720px) {
  #header {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }

  #header h1 {
    line-height: 2.5rem;
    padding: 2rem 2rem 1.5rem 2rem;
    text-align: center;
    color: var(--havelock-blue);
  }
}
